<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">Acerca de</a></li>
<li><a href="/cv">Integrantes</a></li>
<li><a href="/blog">Proyectos</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:ecelresearchgroup@gmail.com">Escribenos un email</a></li>

   <li><a href="https://www.facebook.com/ECELRG">Vísitanos en Facebook</a></li>

   </ul>
  </footer>
  </body>

</html>
